{% extends 'base.html.twig' %}

{% block title %}Mon panier - Valarôme Boutique
{% endblock %}

{% block content %}
	<h1>Mon panier</h1>
	Ensemble des produits que vous avez ajoutés
	<hr>
	{% if cart|length > 0 %}

		<table class="table mt-3">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col"></th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% set total = null %}
				{% for product in cart %}


					<tr>
						<th>
							<img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px"><br/>
						</th>
						<td>{{ product.product.name}}<br/>
							<small>
								{{ product.product.subtitle}}
							</small>
						</td>
						<td>
							<a href="{{path('decrease_to_cart',{ 'id':product.product.id})}}">
								<img src="{{asset('assets/img/moins.png')}}" alt="supprimer un article" height="12px">
							</a>
							{{product.quantity}}
							<a href="{{path('add_to_cart',{ 'id':product.product.id})}}">
								<img src="{{asset('assets/img/plus.png')}}" alt="ajouter un article" height="12px">
							</a>
						</td>
			
						{% if product.product.priceSolde %}
						<td>
							{{ (product.product.priceSolde /100 ) |number_format(2,',','.') }}
							€
								<td>{{ ((product.product.priceSolde * product.quantity )/100 ) |number_format(2,',','.') }}</td>
							{% else %}
								<td>	{{ (product.product.price /100 ) |number_format(2,',','.') }}
							€</td>
									<td>{{ ((product.product.price * product.quantity )/100 ) |number_format(2,',','.') }}</td>
						{% endif %}
						
					
				
						<td>
							<a href="{{path('delete_to_cart', {'id': product.product.id})}}">
								<img src="{{asset('assets/img/delete.png')}}" alt="" height="18px">Supprimer produit
							</a>
						</td>
					</tr>
					{% if product.product.priceSolde %}
								
					{% set total = total + (product.product.priceSolde * product.quantity) %}
					{% else %}
							{% set total = total + (product.product.price * product.quantity) %}
					{% endif %}
					
				

				{% endfor %}
			</tbody>
		</table>
		<div class="text-right mb-5">
			<b>Nombre de produits :
			</b>
			{{cart |length}}<br/>
			<b>Total de mon panier :</b>
			{{ (total /100 ) |number_format(2,',','.') }}
			<a href="{{path('order')}}" class="btn-block btn-success">Valider mon panier</a>
		</div>
	{% else %}
		<hr>

		<p>
			<b>Votre panier est vide...</b>
		</p>
	{% endif %}
{% endblock %}
