{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Valarôme Boutique{% endblock %}

{% block content %}

<a href="{{path('account_adress_add')}}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
<h1>Mes adresses</h1>

Bienvenue {{app.user.firstname}} dans mon compte.<br>
 C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.

<br/>
<a href="{{path('account')}}">Retour</a><br/>
<hr>
{% if app.user.adresses|length == 0 %}

 <p class="text-center">Vous n'avez pas encore ajouté d'adresse reliée à votre compte client . Pour en ajouter, veuillez <a href=""> cliquer ici</a>
 </p>
{% else %}
<div class="row">
{% for adress in app.user.adresses %}

 <div class="col-md-4">
 
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{adress.name}}</h5>
    <p class="card-text">
    {{adress.adress}},<br/>
    {{adress.postal}} - {{adress.city}} - {{adress.country}}
    </p>
    <a href="{{path('account_adress_edit',{'id':adress.id} )}}" >Modifier</a> | <a href="{{path('account_adress_delete', {'id':adress.id})}}" >Supprimer</a>
  </div>
</div>
 </div>
 {% endfor %}
</div>


 

 {% endif %}

{% endblock %}
