{% extends 'base.html.twig' %}

{% block title %}Mon compte - Valarôme Boutique
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	{% if is_granted('ROLE_ADMIN') %}

		<small>
			<a href="/admin" >Backoffice administrateur</a><hr>
		</small>
  
	{% endif %}

	Bienvenue
	{{app.user.firstname}}
	dans votre compte.<br>


	C'est dans cet espace que vous allez pouvoir gérer vos informations personnelles.
	<hr>


	<div class="row">

		<div class="col-md-4">
			<div class="account-item text-center">
      <img src="{{asset('assets/img/pin-code.png')}}" alt="modifier mon mot de passe" ><br>
				<a href="{{path('account_password')}}">Modifier mon mot de passe</a>
			</div>
      </div>

			<div class="col-md-4">
				<div class="account-item text-center">
         <img src="{{asset('assets/img/adress.png')}}" alt="gérer mes adresses" ><br>
					<a href="{{path('account_adress')}}">Gérer mes adresses</a>
				</div>
        </div>

				<div class="col-md-4">
					<div class="account-item text-center">
           <img src="{{asset('assets/img/commandes.png')}}" alt="liste des mes commandes" ><br>
						<a href="{{path('account_order')}}">Mes commandes</a>
					</div>
          </div>

				</div>
			</div>

		{% endblock %}
