{% extends 'base.html.twig' %}

{% block title %}Ma commande - Valarôme Boutique{% endblock %}

{% block content%}

<h1>Ma commande {{order.reference}}</h1>
<a href="{{path('account_order')}}">Retour</a><br><br>

Statut de la commande : <strong>
{% if order.state == 1 %}
     Paiement accepté
     {% elseif  order.state == 2 %}
     Préparation en cours
     {% elseif order.state == 3 %}
     Livraison en cours
      {% endif %}   
        </strong><br>
Commande passée le :<strong> {{order.createdAt|date('d/m/Y')}}</strong><br>
Référence de la commande : <strong>{{order.reference}}</strong><br>
Transport choisi : <strong>{{order.carriername}}</strong><br><br>


<strong>Détails : </strong>


<table class="table mt-4">
    <thead>
    <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix unitaire</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in order.orderDetails %}
    <tr> 
        <td>{{produit.product}}</td>
        <td>{{produit.quantity}}</td>
        <td>{{(produit.price /100)|number_format(2,',','.')}} €</td>
        <td>{{(produit.total /100)|number_format(2,',','.')}} €</td>

    </tr>    
    {% endfor %}
    </tbody>
</table>

<div class="text-right">
<strong>Sous-total : </strong>{{(order.getTotal / 100)|number_format(2,',','.')}} €<br>
<strong>livraison : </strong>{{(order.carrierPrice / 100)|number_format(2,',','.')}} €<br>
<strong>Total : </strong>{{((order.getTotal + order.carrierPrice) /100)|number_format(2,',','.')}} €<br>
</div>
{% endblock %}
