{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Valarôme Boutique{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>


-<a href="{{path('account')}}">Retourner à mon compte</a><br/>

<hr>
{% if notification %}
<div class="{{css}}">{{ notification }}</div>

{% endif %}

{{form(form)}}
<hr>
{% endblock %}
