{% extends 'base.html.twig' %}

{% block title %}Se connecter - Valarôme Boutique{% endblock %}

{% block content %}
<div class="block-small">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for message in app.flashes('notice') %}
    <div class="alert alert-info">{{message}}</div>
    {% endfor %}

    {% if app.user %}
        <div class="mb-3">
           Vous êtes enregistré comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
    <label for="inputEmail">Votre Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" autocomplete="email" required autofocus>
    <label for="inputPassword">Votre mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
      Se connecter
    </button>
    <hr>
    <p class="text-center"><a href="{{path('reset_password')}}"> Mot de passe oublié </a></p>
    <p class="text-center"> Ou <a href="{{path('register')}}"> Souhaitez-vous créer un compte </a></p>
</form>
</div>
{% endblock %}
