{% extends "base.html.twig" %}
{% block carousel %}

{% endblock %}
{% block content %}
 <!-- Three columns of text below the carousel -->
 <h3>Nos meilleures ventes</h3>
 <p>Découvrez les articles les plus vendus</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                   {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Une belle découverte <span class="text-muted">Les huiles essentielles</span></h2>
                <p class="lead">Elles font partie de mon quotidien et elles m'ont conduites à oser m'investir dans la création d'entreprise.</p>
            </div>
            <div class="col-md-5">
             <img src="{{ asset('assets/img/huiles.jpg') }}" alt="photo huiles" class="img-fluid">
              </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Un grand intérêt <span class="text-muted"> mis à l'épreuve au quotidien</span></h2>
                <p class="lead">Après des débuts timides, j'ai rapidement pris beaucoup de plaisir à apprendre comment, pourquoi des gestes quotidiens ne devaient pas être une corvée mais plutôt un plaisir.😉 Avec un peu de motivation on arrive à se faire plaisir tout en régalant ses proches. Et cela est d'autant plus important lorsqu'on a une famille nombreuse 👨‍👩‍👧‍👦 et un budget non extensible.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="{{ asset('assets/img/cuisine.jpg') }}" alt="passion cuisine" class="img-fluid">
               </div>
        </div>

          <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Une reconversion <span class="text-muted"> développeuse web & web mobile</span></h2>
                <p class="lead">Entourée de passionnés d'informatique, au début l'aventure était basée sur l'envie de conserver le lien avec des enfants devenus de jeunes ados ou adultes passionnés et complétement dévoués au Dieu Numérique 😂 <hr>
                Je me suis vite laissée convaincre par la bonne parole de ses apôtres, et depuis, pas un seul jour sans quelques lignes de code .</p>
                <h2>Hâte de trouver un emploi pour vivre de cette passion 🤞</h2>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="{{ asset('assets/img/ordi.jpg') }}" alt="passion code" class="img-fluid">
               </div>
        </div>




        <!-- /END THE FEATURETTES -->
{% endblock %}