{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Valarôme Boutique{% endblock %}


  {% block content %}

<div class="block-small">
{% for message in app.flashes('notice') %}
    <div class="alert alert-info">{{message}}</div>
{% endfor %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h1>
    <label for="inputEmail">Votre Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" autocomplete="email" required autofocus>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
Valider </button>
    <hr>
    <p class="text-center"> Ou <a href="{{path('app_login')}}">Vous connecter</a> </p>
</form>
</div>
{% endblock %}
