{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Valarôme Boutique{% endblock %}


  {% block content %}

<div class="block-small">
{% for message in app.flashes('notice') %}
    <div class="alert alert-info">{{message}}</div>
        <h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h1>
{% endfor %}
{{form(form)}}
</div>
{% endblock %}
