{% extends 'base.html.twig' %}

{% block title %}Qui suis-je{% endblock %}

{% block content %}

<h1> Qui suis-je ?</h1><hr>
<b><p class="font-italic"> Ces quelques mots vous donneront, je l'espère envie d'en connaître un peu plus sur moi et sur ma motivation.</p></b>
<div>
Mes devises : <hr>
<div class= "devise">
« Dans la vie, je ne perds jamais. Soit je gagne, soit j’apprends » <br> <em><b> Nelson Mandela</b></em> <hr>
</div>
<div class= "devise">
« Satisfaction lies in the effort, not in the attainment, full effort is full victory » <br><em><b>Gandhi </em></b><hr>
</div>


</div>
{% endblock %}
