{% extends 'base.html.twig' %}

{% block title %}{{product.name}}- Valarôme Boutique{% endblock %}

{% block content %}

<div class="row ">

   <div class="col-md-5">
      <img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid">
  </div>
     <div class="col-md-7 my-auto ">
         <h3>{{product.name}}</h3>
         <p> {{product.subtitle}} </p>
       
   {% if product.priceSolde !=0 %}
   <span class="product-price" style="text-decoration:line-through;"> {{(product.price /100)|number_format(2,',','.')}} €</span>
   <span> <b> - {{(((product.price - product.priceSolde) / product.price) * 100)|number_format(0)}} %</b></span><br>
   <span class="product-price"> {{(product.priceSolde /100)|number_format(2,',','.')}} €</span>
   {% else %}
        <span class="product-price"> {{(product.price /100)|number_format(2,',','.')}} €</span>
   {% endif %}
       
         <hr>
         <p>{{product.description}} </p>
         <hr>
         <a href="{{ path('add_to_cart',{'id':product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
  
    </div>
  <hr>
  <h2 class="mt-4">Nos meilleures ventes</h2>
<br>

        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                   {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}
        </div><!-- /.row -->
</div>
{% endblock %}
