{% extends 'base.html.twig' %}

{% block title %}Me contacter -Valarôme Boutique
{% endblock %}

{% block content %}

<h2>Me contacter</h2>
<p> N'hésitez pas à me contacter si mon profil vous intéresse </p>
 {% for message in app.flashes('notice') %}
    <div class="alert alert-info">{{message}}</div>
    {% endfor %}
	<div class="row">
		<div class="col-md-8">
			{{form(form)}}
			</div>
			<div class="col-md-4">

				<strong>Valérie Gierlowski</strong>
				<hr>
				06 04 19 80 64
				<br>
				Mulhouse et environs
				<br>
			</div>
		</div>
	{% endblock %}
