{% extends 'base.html.twig' %}

{% block title %}Valarôme Boutique - Soldes{% endblock %}

{% block content %}
<h1>Nos produits soldés</h1>

  <div class="row">
            {% for product in soldes %}
                <div class="col-md-3">
                   {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}
        </div><!-- /.row -->

{% endblock %}
