{% extends 'base.html.twig' %}

{% block javascript %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Paiement de ma commande - Valarôme Boutique
{% endblock %}

{% block content %}

	<h2>Mon récapitulatif</h2>
	<p>Vérifiez vos informations avant de payer votre commande sur Valarôme Boutique</p>
	<hr>

	<div class="row">
		<div class="col-md-6">

			<strong>
				Mon adresse de livraison</strong>
			<br/>
			<div class="form-check mt-5">
				{{delivery|raw}}
			</div>

			<hr>
			<strong>Moyen de livraison</strong><br>
			<div class="form-check">
				{{carrier.name}}
				<br>
				{{carrier.description}}
				<br>
				{{carrier.price|number_format(2,',','.')}}
				€

			</div>


		</div>
		<div class="col-md-6">
			<div class="tetx-center">
				<b>Ma commande</b><br/>
				<p>
					Retrouvez le récapitulatif de vos produits</p>
			</div>
			<div class='order-summary'>
				{% set total = null %}
				{% for key, product in cart %}
					<div class="row {% if key > 0 %}mt-2{% endif %} ">
						<div class="col-2 my-auto">
							<img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px">
						</div>
						<div class="col-8 my-auto">{{ product.product.name}}
							<br/>
							<small>
								{{ product.product.subtitle}}
								<br/>
								x
								{{ product.quantity }}
							</small>
						</div>
						<div class="col-2 my-auto">
							{% if product.product.priceSolde %}
								{{ ((product.product.priceSolde * product.quantity )/100 ) |number_format(2,',','.') }}
							{% else %}
								{{ ((product.product.price * product.quantity )/100 ) |number_format(2,',','.') }}
							{% endif %}


						</div>
					</div>
					{% if product.product.priceSolde %}
						{% set total = total + (product.product.priceSolde * product.quantity) %}
					{% else %}
						{% set total = total + (product.product.price * product.quantity) %}
					{% endif %}


				{% endfor %}
			</div>
			<hr>
			<strong>Sous-total :
				{{ (total /100 ) |number_format(2,',','.') }}
				€</strong><br>
			<strong>Livraison :
				{{(carrier.price /100) |number_format(2,',','.')}}€</strong>
			<hr>
			<strong>Total de ma commande à payer :
				{{((total /100)  + (carrier.price /100))  |number_format(2,',','.')}}
				€</strong>

			<a class="btn btn-success btn-block mt-3" id="checkout-button">
				Payer |
				{{ ((total /100)  + (carrier.price /100)) |number_format(2,',','.')}}
				€</a>
		</div>
	</div>
{% endblock %}


{% block script %}
	//
	<script type="text/javascript">
		// Create an instance of the Stripe object with your publishable API key
var stripe = Stripe("pk_test_51J3FjAE0oCx2AVXUiZZvLSS5zRvPQGgxJrhZzLadsLLDKSegwwvE4rPH6CJaLVlcSwLxDsf5bXHLuAx9bFPZdK3u00AZxgDRd2");

var checkoutButton = document.getElementById("checkout-button");
checkoutButton.addEventListener("click", function () {
fetch("/commande/create-session/ {{ reference }}", {method: "POST"}).then(function (response) {
return response.json();
}).then(function (session) {
if (session.error == 'order') {
window.location.replace('{{ path("order") }}');
} else {

return stripe.redirectToCheckout({sessionId: session.id});
}

}).then(function (result) {
// If redirectToCheckout fails due to a browser or network
// error, you should display the localized error message to your
// customer using error.message.
if (result.error) {
alert(result.error.message);
}
}).catch(function (error) {
console.error("Error:", error);
});
});
	</script>

{% endblock %}
