{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Valarôme Boutique
{% endblock %}

{% block content %}
	<h2>Je passe ma commande</h2>
	<p>Choisissez vos préférences avant de passer votre commande sur Valarôme Boutique</p>
	<hr>

	<div class="row">
		<div class="col-md-6">


			{% set formHtml %}
			{{form_start(form,{action:path('order_recap')})}}
				{{ form_label (form.adresses,'Choisissez votre moyen de livraison')}}
		<a href="{{path('account_adress_add')}}">Ajouter une nouvelle adresse</a>
						{{form_end(form)}}
				{% endset %}
				{{formHtml| replace({"[br]":"<br/>"})|raw }}


			</div>
			<div class="col-md-6">
   <div class="tetx-center">
  				<b>récap de ma commande</b><br/>
      <p> Retrouvez le récapitulatif de vos produits</p>
 </div>
				<div class='order-summary'>

					{% for key, product in cart %}
						<div class="row {% if key > 0 %}mt-2{% endif %} ">
							<div class="col-2 my-auto">
								<img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px">
							</div>
							<div class="col-8 my-auto">{{ product.product.name}}
								<br>
								<small>{{ product.product.subtitle}}</small>
							</div>
							<div class="col-2 my-auto">X
								{{product.quantity}}</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
